body {
  font-family: calibri;
  text-align: center;
  background: lightgreen;
}
p {
  color: white;
}
h1 {
  font-weight: bold;
  color: white;
}
h2 {
  color: white;
}
a {
  font-weight: bold;
  color: #E4959E;
  text-decoration: underline;
  vertical-align: middle;
}
a:hover {
  color: #F3B3A6;
}
.special {
  font-weight: bold;
  color: bisque;
}